<div id="construtoras">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3 class="lg-font-size">Construtoras</h3>
        <p class="md-font-size">
          Apresento algumas das construtoras de renome que fazem parte do meu histórico de mais de uma década de
          experiência no mercado imobiliário.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 animate-box" *ngFor="let experienceItem of experiences">
        <div class="feature-left d-flex">
          <span class="m-2">
            <img
              src="http://127.0.0.1:8090/api/files/{{experienceItem.collectionId}}/{{experienceItem.id}}/{{experienceItem.logo_empresa}}"
              alt="{{experienceItem.logo_empresa}}" width="{{experienceItem.width}}"
              height="{{experienceItem.height}}" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>