<div id="construtoras">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Construtoras</h3>
        <p>Aqui são algumas das construtoras renomadas no mercado imobiliário.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 animate-box" *ngFor="let experience of experiences">
        <div class="feature-left d-flex">
          <span class="m-2">
            <img
              src="http://127.0.0.1:8090/api/files/{{experience.collectionId}}/{{experience.id}}/{{experience.logo_empresa}}"
              alt="{{experience.logo_empresa}}" width="60px" height="60px" />
          </span>
          <div class="feature-copy">
            <h3>{{experience.titulo}}</h3>
            <p>{{experience.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>