<div (mousedown)="isMouseDown=true" (mouseup)="isMouseDown=false" (mousemove)="mouseMoveListener($event)"
  (mouseenter)="mouseInSlider($event)" (mouseleave)="mouseInSlider($event)"
  [ngClass]="{'cursor-pointer': isMouseInSlider && isMouseDown}" id="image-slider-container" class="slider-container"
  style="margin-top: 58px;">
  <img *ngFor="let foto of properties.fotos" draggable="false" unselectable="on"
    src="https://val-imoveis.pockethost.io/api/files/myrbcztzk012ch4/0bbqozo1zkf8vtg/{{foto}}">
</div>