<header class="fixed-top border-bottom shadow-sm">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
                <div class="d-flex justify-content-center align-items-center cursor-pointer">
                    <i class="d-flex justify-content-center align-items-center nav-header-logo">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15"
                            viewBox="0 0 50 50">
                            <path fill="#238662"
                                d="M 25 1.0507812 C 24.7825 1.0507812 24.565859 1.1197656 24.380859 1.2597656 L 1.3808594 19.210938 C 0.95085938 19.550938 0.8709375 20.179141 1.2109375 20.619141 C 1.5509375 21.049141 2.1791406 21.129062 2.6191406 20.789062 L 4 19.710938 L 4 46 C 4 46.55 4.45 47 5 47 L 19 47 L 19 29 L 31 29 L 31 47 L 45 47 C 45.55 47 46 46.55 46 46 L 46 19.710938 L 47.380859 20.789062 C 47.570859 20.929063 47.78 21 48 21 C 48.3 21 48.589063 20.869141 48.789062 20.619141 C 49.129063 20.179141 49.049141 19.550938 48.619141 19.210938 L 25.619141 1.2597656 C 25.434141 1.1197656 25.2175 1.0507812 25 1.0507812 z M 35 5 L 35 6.0507812 L 41 10.730469 L 41 5 L 35 5 z">
                            </path>
                        </svg>
                    </i>
                    <a id="fh5co-logo" class="navbar-brand p-0" (click)="scroll('home')">Val<span
                            style="font-size: 23px !important;">imoveis</span></a>
                </div>

                <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" (click)="scroll('home')">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" (click)="scroll('imoveis')">Imóveis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" (click)="scroll('construtoras')">Construtoras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" (click)="scroll('contato')">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>