<div id="imoveis" class="fh5co-section-dark-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3 class="lg-font-size">Imóveis</h3>
        <p class="md-font-size">Apresento minha atual carteira de imóveis, refletindo meu envolvimento contínuo no
          mercado imobiliário. Essa seleção de propriedades abrange uma variedade de opções, cada uma com suas
          características únicas e potencialidades.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 animate-box" *ngFor="let propertiesItem of properties">
        <div class="property">
          <a class="fh5co-property" [routerLink]="['imovel-detalhes', propertiesItem.id]"
            style="background-image: url(https://val-imoveis.pockethost.io/api/files/{{propertiesItem.collectionId}}/{{propertiesItem.id}}/{{propertiesItem.foto_principal}});">
            <span class="status">{{propertiesItem.status_imovel}}</span>
            <ul class="list-details">
              <li>
                {{propertiesItem.numero_metragem}}m²
              <li>
              <li>
                <ng-container *ngIf="propertiesItem.qtd_dormitorio > 1;">{{propertiesItem.qtd_dormitorio}}
                  Dormotórios</ng-container>

                <ng-container *ngIf="propertiesItem.qtd_dormitorio == 1;">{{propertiesItem.qtd_dormitorio}}
                  Dormotório</ng-container>

                <ng-container *ngIf="propertiesItem.qtd_dormitorio == 0;">
                  <span>-</span>
                </ng-container>
              </li>
              <li>
                <ng-container *ngIf="propertiesItem.qtd_banheiro > 1;">{{propertiesItem.qtd_banheiro}}
                  Banheiros</ng-container>

                <ng-container *ngIf="propertiesItem.qtd_banheiro == 1;">{{propertiesItem.qtd_banheiro}}
                  Banheiro</ng-container>

                <ng-container *ngIf="propertiesItem.qtd_banheiro == 0;">
                  <span>-</span>
                </ng-container>
              </li>
              <li>
                <ng-container *ngIf="propertiesItem.qtd_vagas > 1;">{{propertiesItem.qtd_vagas}}
                  Vagas</ng-container>

                <ng-container *ngIf="propertiesItem.qtd_vagas == 1;">{{propertiesItem.qtd_vagas}}
                  Vaga</ng-container>

                <ng-container *ngIf="propertiesItem.qtd_vagas == 0;">
                  <span>-</span>
                </ng-container>
              </li>
            </ul>
          </a>
          <div class="property-details">
            <h3 class="mg-font-size">{{toUpperFirstLetter(propertiesItem.imovel)}} - {{propertiesItem.endereco_bairro}}
            </h3>
            <span class="price sm-font-size">R$ {{
              (propertiesItem.status_imovel == 'Aluguel' ? propertiesItem.valor_aluguel :
              propertiesItem.valor_venda_imovel)
              .toString()
              .replace('.',',')
              |
              mask: 'separator.2': {thousandSeparator: '.'}
              }}<span *ngIf="!propertiesItem.valor_venda_imovel.toString().includes('.')">,00</span></span>
            <p>{{propertiesItem.desc_imovel_simple}}</p>
            <span class="address">
              <a target="blank_" [href]="'https://www.google.com/search?q=' 
                + propertiesItem.endereco + ' ' 
                + propertiesItem.endereco_numero + ' ' 
                + propertiesItem.endereco_bairro + ' ' 
                + propertiesItem.endereco_cidade + ' ' 
                + propertiesItem.endereco_estado + ' ' 
                + propertiesItem.endereco_cep">
                <svg viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="#000000"
                  style="--darkreader-inline-fill: #000000;" data-darkreader-inline-fill="">
                  <path
                    d="M13.29 14.667L11 16.097V3.81l3-1.5v5.968a6.182 6.182 0 0 1 1-1.104V2.307l3.024 1.503-.003 1.974A6.275 6.275 0 0 1 19 5.7l.02.001.005-2.51L14.5.94l-4 2-4-2L2 3.191V17.9l4.5-2.811 4 2.5 3.15-1.968q-.202-.485-.36-.955zM6 14.223l-3.001 1.876-.023-12.29L6 2.308zm4 1.875l-3-1.875V2.309l3 1.5zM19 7a4.96 4.96 0 0 0-4.9 5.086c0 2.807 2.678 6.606 4.9 10.914 2.222-4.308 4.9-8.107 4.9-10.914A4.96 4.96 0 0 0 19 7zm0 13.877c-.298-.543-.598-1.077-.89-1.6-1.548-2.762-3.01-5.37-3.01-7.191a3.905 3.905 0 1 1 7.8 0c0 1.82-1.462 4.429-3.01 7.19-.292.524-.592 1.058-.89 1.601zm0-11.043A2.166 2.166 0 1 0 21.13 12 2.147 2.147 0 0 0 19 9.834zm0 3.332A1.167 1.167 0 1 1 20.13 12 1.15 1.15 0 0 1 19 13.166z">
                  </path>
                  <path fill="none" d="M0 0h24v24H0z"></path>
                </svg>
                {{propertiesItem.endereco}} {{propertiesItem.endereco_numero}}, {{propertiesItem.endereco_bairro}},
                {{propertiesItem.endereco_estado}} - {{propertiesItem.endereco_cep | mask: '00000-000'}}
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>