<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md-12 col-md-offset-0 text-left heading-section animate-box">
                    <h3>Olá,<br> Sou a Val</h3>
                    <p>
                        Corretora de imóveis desde 2010, atuante em documentação imobiliária
                        e análise para aprovação de financiamento bancário.
                        Imóveis na planta e pronto para morar, no plano MINHA CASA MINHA VIDA
                    </p>
                    <p>Atuo com construtoras renomadas no mercado imobiliário. </p>
                    
                    <p>Creci 120.862</p>
                </div>
            </div>
            <div class="col-sm-5 d-flex jusify-content-center align-items-center">
                <img class="img-responsive" height="80%" width="80%" alt="Val Corretora"
                    src="../assets/images/hero.jpg">
            </div>
        </div>
    </div>
</div>