<div id="fh5co-contact" class="fh5co-contact">
    <div class="half-contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left heading-section animate-box">
                    <h3>Olá,<br> Sou a Val</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores,
                        perspiciatis accusamus asperiores sint consequuntur debitis.]
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="half-contact">
        <div class="container-fluid">
            <div class="row">
                <img class="img-responsive" alt="Val Corretora" src="../assets/images/hero.jpg">
            </div>
        </div>

    </div>
</div>